@{
    ViewData["Title"] = "Home Page";
}

<h1>TRAVEL REVIEWS</h1>
<hr/>
<div class="box">
    @Html.ActionLink("VIEW REVIEWS", "Index", "Reviews", null, new { @class="btn" }) 
    @Html.ActionLink("LOGIN/REGISTER", "Index", "Account", null, new { @class="btn" })
</div>