/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

body {
  background-color: rgb(131,58,180);
  background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  text-align: center;
}

input {
  background-color: transparent;
  border: 1px solid #111111;
  border-radius: 12px;
  outline: none;
  box-shadow: none;
  text-align: center;
  margin: 5px;
}

.btn {
  border: 3px solid ivory;
  border-radius: 15px;
  background-image: radial-gradient(rgb(138, 137, 137), rgb(18, 18, 155));
  color: ivory;
  margin: 25px;
  font-size: 140%;
}

.btn:hover {
  cursor: pointer;
  opacity: .8;
}

ol#reviewsList {
  max-height: 800px;
  overflow-y: auto;
}

nav {
  background-color: rgb(250, 195, 118);
  margin-bottom: 30px;
}

h1 {
  margin-top: 1%;
  text-align: center;
  font-size: 2.5em;
  font-weight: bolder;
  color: #f5f5f5;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #111111;
}

li {
  text-align: left;
}

li a {
  color: #111111;
}

li a:hover {
  color: #f5f5f5;
}

.box {
  background-color: rgba(255, 255, 255, 0.404);
  margin: 50px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
  padding-top: 40px;
  border-radius: 15px;
}

.two-buttons, .three-buttons {
  display: flex;
  justify-content: space-between;
}

.two-buttons a {
  width: 45%;
}

.three-buttons a {
  width: 30%;
}