@{
  ViewData["Title"] = "Create";
}
@Model

<h1>SAVE THIS JOB:</h1>
<hr/>
<div class="box">
  @using (Html.BeginForm("Create", "Jobs", FormMethod.Post))
  {

    <label for="tit">Title:</label>
    <input id="tit" name="tit" type="text" value=@Model.Title>
    <label for="loc">Location:</label>
    <input id="loc" name="loc" type="text" value="@Model.Location">
    <label for="desc">Description:</label>
    <input id="desc" name="desc" type="text" value="@Model.Description">
    <label for="ur">Url:</label>
    <input id="ur" name="desc" type="text" value="@Model.Url">
    <label for="sta">Application Status:</label>
    <input id="sta" name="sta" type="text"><br>
    <label for="pri">Priority Level (1-5):</label>
    <input id="pri" name="pri" type="text">
    <br>
    <button type="submit" class="btn">SAVE THIS JOB</button>
  }
</div>