@{
  ViewData["Title"] = "Create";
}

<div class="container">
  <h1>SAVE THIS JOB:</h1>
</div>
<hr/>
<div class="container">
  <div class="boxform">
    @using (Html.BeginForm("Create", "Jobs", FormMethod.Post))
    {
      <label for="tit">Title:</label>
      <input class="createform" id="tit" name="tit" type="text" value="@ViewBag.Tit"><br>
      <label for="loc">Location:</label>
      <input class="createform" id="loc" name="loc" type="text" value="@ViewBag.Location"><br>
      <label for="ur">Url:</label>
      <input class="createform" id="ur" name="ur" type="text" value="@ViewBag.Url"><br>
      <label for="sta">Application Status:</label>
      <input class="createform" id="sta" name="sta" type="text"><br>
      <label for="pri">Priority Level (1-5):</label>
      <input class="createform" id="pri" name="pri" type="text"><br>
      <button type="submit" class="btn">SAVE THIS JOB</button>
    }
  </div>          
</div>
