@{
    ViewData["Title"] = "Home Page";
}

<h1>Git Yerself A Job!</h1>
<hr/>

<img id="business-gif" src="https://source.unsplash.com/random?computer" alt="Business"><br>

@Html.ActionLink("SEARCH JOBS", "Index", "Jobs", null, new { @class="btn" })<br>
@Html.ActionLink("ACCOUNT", "Index", "Account", null, new { @class="btn" })
