@{
    ViewData["Title"] = "Home Page";
}

<h1>Git Yerself A Job!</h1>
<hr/>

<img id="business-gif" src="https://media.giphy.com/media/v6RnMwVAbOTSM/giphy.gif" alt="Business">

<div class="box">
    @Html.ActionLink("SEARCH JOBS", "Index", "Jobs", null, new { @class="waves-effect waves-light btn-large" })<br>
    @Html.ActionLink("ACCOUNT", "Index", "Account", null, new { @class="waves-effect waves-light btn-large" })
</div>