@{
    ViewData["Title"] = "Home Page";
}

<h1>Git Jobs Search</h1>
<hr/>

<img id="business-gif" src="https://media.giphy.com/media/STxlvFaOKvFQGhMGho/giphy.gif" alt="Business">

<div class="box">
    @Html.ActionLink("SEARCH JOBS", "Index", "Jobs", null, new { @class="btn" })<br>
    @Html.ActionLink("ACCOUNT", "Index", "Account", null, new { @class="btn" })
</div>